@font-face {
  font-family: 'Futura';
  src: url('/assets/fonts/Futura-Book-BT.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Futura-Book-BT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Futura-Book-BT.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/Futura-Book-BT.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Futura-Book-BT.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Futura-Book-BT.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Brandon';
  src: url('/assets/fonts/brandontext.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/brandontext.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/brandontext.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/brandontext.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/brandontext.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/brandontext.svg#svgFontName') format('svg'); /* Legacy iOS */
}	   

.rainbow:hover{
		animation: rainbow 0.7s linear;
		animation-iteration-count: infinite;
}

@keyframes rainbow{
		100%,0%{color: rgb(235,0,0);}
		8%{color: rgb(235,127,0);}
		16%{color: rgb(235,235,0);}
		25%{color: rgb(127,235,0);}
		33%{color: rgb(0,235,0);}
		41%{color: rgb(0,235,127);}
		50%{color: rgb(0,235,235);}
		58%{color: rgb(0,127,235);}
		66%{color: rgb(0,0,235);}
		75%{color: rgb(127,0,235);}
		83%{color: rgb(235,0,235);}
		91%{color: rgb(235,0,127);}
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  margin: 20px 20px 3px 20px;
  text-decoration: none;
}

ul a {
  position: relative;
  color: white;
  text-decoration: none;
}

ul a:hover {
  color: white;
}

ul a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

ul a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
