@font-face {
  font-family: 'Futura';
  src: url('/assets/fonts/Futura-Book-BT.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Futura-Book-BT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Futura-Book-BT.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/Futura-Book-BT.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Futura-Book-BT.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Futura-Book-BT.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Brandon';
  src: url('/assets/fonts/brandontext.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/brandontext.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/brandontext.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/brandontext.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/brandontext.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/brandontext.svg#svgFontName') format('svg'); /* Legacy iOS */
}	   

.rainbowlogo:hover{
  animation: rainbowfill 0.7s linear;
  animation-iteration-count: infinite;
}

.rainbow:hover{
  animation: rainbow 5s linear;
  animation-iteration-count: infinite;
}

.rainbow:before{
  color:white;
}
@keyframes rainbowback{
  100%,0%{background-color: rgb(235,0,0);}
  8%{background-color: rgb(235,127,0);}
  16%{background-color: rgb(235,235,0);}
  25%{background-color: rgb(127,235,0);}
  33%{background-color: rgb(0,235,0);}
  41%{background-color: rgb(0,235,127);}
  50%{background-color: rgb(0,235,235);}
  58%{background-color: rgb(0,127,235);}
  66%{background-color: rgb(0,0,235);}
  75%{background-color: rgb(127,0,235);}
  83%{background-color: rgb(235,0,235);}
  91%{background-color: rgb(235,0,127);}
}

@keyframes rainbowfill{
  100%,0%{fill: rgb(235,0,0);}
  8%{fill: rgb(235,127,0);}
  16%{fill: rgb(235,235,0);}
  25%{fill: rgb(127,235,0);}
  33%{fill: rgb(0,235,0);}
  41%{fill: rgb(0,235,127);}
  50%{fill: rgb(0,235,235);}
  58%{fill: rgb(0,127,235);}
  66%{fill: rgb(0,0,235);}
  75%{fill: rgb(127,0,235);}
  83%{fill: rgb(235,0,235);}
  91%{fill: rgb(235,0,127);}
}

@keyframes rainbow{
  100%,0%{color: rgb(235,0,0);}
  8%{color: rgb(235,127,0);}
  16%{color: rgb(235,235,0);}
  25%{color: rgb(127,235,0);}
  33%{color: rgb(0,235,0);}
  41%{color: rgb(0,235,127);}
  50%{color: rgb(0,235,235);}
  58%{color: rgb(0,127,235);}
  66%{color: rgb(0,0,235);}
  75%{color: rgb(127,0,235);}
  83%{color: rgb(235,0,235);}
  91%{color: rgb(235,0,127);}
}

.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navli {
  float: right;
}

.und {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  color: white;
  text-align: center;
  margin: 20px 20px 3px 20px;
  text-decoration: none;
}

.und:hover {
  color: white;
}

.und:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  animation: rainbowback 2s linear;
  animation-iteration-count: infinite;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.und:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

h1 {
  font-size: 21px;
  margin: 20px 0px 10px 0px;
}

h2 {
  font-size: 18px;
  margin: 20px 0px 10px 0px;
  font-weight: 400;
  font-family: Futura;
}

p {
  line-height: 1.5;
  font-family: Brandon; 
  font-size: 14px;
}

.list > li {
  line-height: 1.7;
  margin: 10px 0px 0px 0px;  
  font-size: 14px;
}

hr {
  border: 0;
  border-top-width: 1px;
  border-top-color: gray;
  border-top-style: solid;
}

code {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: gray;
  background-color: #191919;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}