@font-face {
  font-family: 'Futura';
  src: url('/assets/fonts/Futura-Book-BT.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Futura-Book-BT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Futura-Book-BT.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Futura-Book-BT.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Futura-Book-BT.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Brandon';
  src: url('/assets/fonts/brandontext.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/brandontext.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/brandontext.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/brandontext.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/brandontext.svg#svgFontName') format('svg'); /* Legacy iOS */
}	   

.rainbowlogo:hover {
  animation: rainbowfill 0.7s linear;
  animation-iteration-count: infinite;
}

.rainbowlogo {
  margin-top: 10px;
}

.rainbow {
  color:white;
}

.rainbow:hover {
  animation: rainbow 0.7s linear;
  animation-iteration-count: infinite;
}

.rainbow:before {
  color: white;
}
@keyframes rainbowback{
  100%,0%{background-color: rgb(235,0,0);}
  8%{background-color: rgb(235,127,0);}
  16%{background-color: rgb(235,235,0);}
  25%{background-color: rgb(127,235,0);}
  33%{background-color: rgb(0,235,0);}
  41%{background-color: rgb(0,235,127);}
  50%{background-color: rgb(0,235,235);}
  58%{background-color: rgb(0,127,235);}
  66%{background-color: rgb(0,0,235);}
  75%{background-color: rgb(127,0,235);}
  83%{background-color: rgb(235,0,235);}
  91%{background-color: rgb(235,0,127);}
}

@keyframes rainbowfill{
  100%,0%{fill: rgb(235,0,0);}
  8%{fill: rgb(235,127,0);}
  16%{fill: rgb(235,235,0);}
  25%{fill: rgb(127,235,0);}
  33%{fill: rgb(0,235,0);}
  41%{fill: rgb(0,235,127);}
  50%{fill: rgb(0,235,235);}
  58%{fill: rgb(0,127,235);}
  66%{fill: rgb(0,0,235);}
  75%{fill: rgb(127,0,235);}
  83%{fill: rgb(235,0,235);}
  91%{fill: rgb(235,0,127);}
}

@keyframes rainbow{
  100%,0%{color: rgb(235,0,0);}
  8%{color: rgb(235,127,0);}
  16%{color: rgb(235,235,0);}
  25%{color: rgb(127,235,0);}
  33%{color: rgb(0,235,0);}
  41%{color: rgb(0,235,127);}
  50%{color: rgb(0,235,235);}
  58%{color: rgb(0,127,235);}
  66%{color: rgb(0,0,235);}
  75%{color: rgb(127,0,235);}
  83%{color: rgb(235,0,235);}
  91%{color: rgb(235,0,127);}
}

::selection {
  background: rgba(107, 107, 107, 0.99);
  color: white;
}

.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Futura;
  font-size: 22px;
}

.navli {
  float: right;
}

.und {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  color: white;
  text-align: center;
  margin: 20px 20px 3px 20px;
  text-decoration: none;
}

.und:hover {
  color: white;
}

.und:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  animation: rainbowback 2s linear;
  animation-iteration-count: infinite;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.und:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.page {
  background-image: url("data:image/gif;base64,R0lGODlhBAAEAKECABERESQkJP///////yH5BAEKAAIALAAAAAAEAAQAAAIFhB6nhlIAOw==") !important;
  background-repeat: repeat !important;
  background-color: #181818 !important;
  /* background-image: url("/assets/img/noise.png"); */
  /* background-color: #212121; */
  color: white; 
  text-align: left; 
  max-width: 900px; 
  margin: auto; 
  padding-left: 6%; 
  padding-right: 6%
}

.list {
  list-style-type: none;
  font-family: Brandon;
}

.list > li {
  line-height: 1.7;
  margin: 15px 0px 0px 0px;  
  font-size: 14px;
}

.err_msg {
  margin-top: 0px;
  padding-top: 14px;
  text-align: center;
}

.err_main {
  width: 800px;
  height: 300px;
  position: absolute;
  margin-top: -200px;
  margin-left: -400px;
  top: 50%;
  left: 50%;
  text-align: center;
  animation: rainbow 0.7s linear;
  animation-iteration-count: infinite;
  font-size: 200px; 
  font-family: Futura;
}

.katex {
  font-size: 1.1em !important;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 1.8rem;
  width: 100%;
  text-align: right;
  color: #4d4d4d;
  font-size: 14px;
  font-family: Futura;
}

.footerhr {
  position: absolute;
  bottom: 0;
  height: 1.9rem;
  width: 100%;
  border-top-color: #4d4d4d;
}

.article-paragraph {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;
}

h1 {
  font-size: 21px;
  margin: 20px 0px 10px 0px;
  font-family: Futura;
  margin-top: 10px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  margin: 20px 0px 10px 0px;
  font-weight: 400;
  font-family: Futura;
}

p {
  line-height: 1.5;
  font-family: Brandon; 
  font-size: 14px;
}

hr {
  border: 0;
  border-top-width: 1px;
  border-top-color: gray;
  border-top-style: solid;
}

code {
  font-size: 13px;
  font-family: Consolas, monospace;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: gray;
  background-color: #191919;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.10rem;
  padding-bottom: 0.10rem;
}

