@font-face {
    font-family: "Jost";
    src: url("/assets/fonts/Jost-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter_18pt-Regular.ttf");
    font-display: swap;
}	   

.rainbowlogo:hover {
    animation: rainbow-fill 1s linear infinite;
}

.rainbowlogo {
    margin-top: 15px;
}

a {
    color: #58a6ff;
    text-decoration: none;
}

a:hover {
    animation: rainbow 1s linear infinite;
}

/* please tell me there's a better way to do this */
@keyframes rainbow-fill {
    100%, 0% {fill: rgb(235,0,0);}
    8% {fill: rgb(235,127,0);}
    16% {fill: rgb(235,235,0);}
    25% {fill: rgb(127,235,0);}
    33% {fill: rgb(0,235,0);}
    41% {fill: rgb(0,235,127);}
    50% {fill: rgb(0,235,235);}
    58% {fill: rgb(0,127,235);}
    66% {fill: rgb(0,0,235);}
    75% {fill: rgb(127,0,235);}
    83% {fill: rgb(235,0,235);}
    91% {fill: rgb(235,0,127);}
}

@keyframes rainbow {
    100%, 0% {color: rgb(235,0,0);}
    8% {color: rgb(235,127,0);}
    16% {color: rgb(235,235,0);}
    25% {color: rgb(127,235,0);}
    33% {color: rgb(0,235,0);}
    41% {color: rgb(0,235,127);}
    50% {color: rgb(0,235,235);}
    58% {color: rgb(0,127,235);}
    66% {color: rgb(0,0,235);}
    75% {color: rgb(127,0,235);}
    83% {color: rgb(235,0,235);}
    91% {color: rgb(235,0,127);}
}

::selection {
    background: rgba(107, 107, 107, 0.99);
    color: white;
}

nav {
    display: inline-block;
    overflow: hidden;
    font-family: Jost;
    float: right;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            float: left;

            a {
                position: relative;
                color: white;
                display: inline-block;
                text-align: center;
                margin-left: 30px;
                text-decoration: none;
            }
        }
    }
}

.page {
    background-image: url("data:image/gif;base64,R0lGODlhBAAEAKECABERESQkJP///////yH5BAEKAAIALAAAAAAEAAQAAAIFhB6nhlIAOw==") !important;
    background-repeat: repeat !important;
    background-color: #181818 !important;
    color: white; 
    text-align: left; 
    max-width: 900px; 
    margin: auto; 
    padding-left: 6%; 
    padding-right: 6%
}

.list {
    font-family: Inter;
}

.list > li {
    line-height: 1.7;
    margin: 15px 0px 0px 0px;  
}

.err_msg {
    margin-top: 0px;
    padding-top: 14px;
    text-align: center;
}

.err_main {
    width: 800px;
    height: 300px;
    position: absolute;
    margin-top: -200px;
    margin-left: -400px;
    top: 50%;
    left: 50%;
    text-align: center;
    animation: rainbow 1s linear infinite;
    font-size: 200px; 
    font-family: Jost;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 1.8rem;
    width: 100%;
    text-align: right;
    color: #4d4d4d;
    font-size: 14px;
    font-family: Jost;
}

.footerhr {
    position: absolute;
    bottom: 0;
    height: 1.9rem;
    width: 100%;
    border-top-color: #4d4d4d;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 5rem;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
}

h1 {
    font-family: Jost;
}

h2 {
    font-family: Jost;
}

p {
    line-height: 1.5;
    font-family: Inter; 
}

hr {
    border: 0;
    border-top-width: 1px;
    border-top-color: gray;
    border-top-style: solid;
}
